@media (max-width:1024px){
    .navBar{
        li{
            a{
                font-size: 20px;
            }
        }
    }
    dl{
        padding-top: 20px;
    }
    .subTitulo{
        font-size: 1rem;
        padding-left: 4rem;
    }
    .info-goat{
        font-size: 0.75rem;
        padding-right: 50px;
    }
    .btn-group{
        padding-left: 120px;
        padding-bottom: 70px;
        display: table-column;
    }
    .messi-massia{
        margin-top: -12rem;
    }
}